{% extends "base.html" %}

{% block title %}Detalhe de Categorias{% endblock %}

{% block content %}
<div class="container">
        <div class="card">
            <h5 class="card-header text-center">
                Categoria: {{category.name}}
            </h5>
            <div class="card-body">
                <h5 class="card-title">Detalhes</h5>
                <div class="card-text">
                    <div>
                        <p><b>id: </b>{{ category.id }}</p>
                        <p><b>Nome: </b>{{ category.name }}</p>
                        <p><b>Criador: </b>{{ category.created_by }}</p>                 
                        <p><b>Criado: </b>{{ category.created_at }}</p>
                        <p><b>Modificado: </b>{{ category.updated_at }}</p>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <a class="btn btn-secondary" href="{% url 'category:list' %}" alt="ver" >
                    <span class="material-icons md-18 align-middle">arrow_back</span>
                    <span>voltar</span>
                </a>
                <a class="btn btn-success" href="{% url 'category:update' category.id %}">
                    <span class="material-icons md-18 align-middle">edit</span>
                    <span>editar</span>
                </a>
                <a class="btn btn-danger" href="{% url 'category:delete' category.id %}">
                    <span class="material-icons md-18 align-middle">delete</span>
                    <span>deletar</span>
                </a>
            </div>
        </div>
</div>
{% endblock %}

