{% extends "base.html" %}
{% load core_extras %}

{% block title %}Lista de Chamados{% endblock %}

{% block content %}
<div class="container">
        <div class="card">
            <h5 class="card-header text-center">
                Chamado: {{ticket.id}}
            </h5>
            <div class="card-body">
                <h5 class="card-title">Detalhes</h5>
                <div class="card-text">
                    <div class="">
                        <p><b>Abertura: </b>{{ ticket.created_at }}</p>
                        <p><b>Status: </b>{{ ticket.status }}</p>
                        <p><b>Categoria: </b>{{ ticket.category }}</p>
                        <p><b>Sub-Categoria: </b>{% firstof ticket.subcategory "" %}</p>
                        <p><b>Responsável: </b>{{ ticket.solver }}</p>
                        <p><b>Descrição:</b></p>
                        <p>{{ ticket.description }}</p>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <a class="btn btn-secondary" href="{% url 'tickets:list' %}" alt="ver" >
                    <span class="material-icons md-18 align-middle">arrow_back</span>
                    <span>voltar</span>
                </a>
                {% if request.user|has_groups:"gestor, suporte" %}
                <a class="btn btn-success" href="{% url 'tickets:update' ticket.id %}">
                    <span class="material-icons md-18 align-middle">edit</span>
                    <span>editar</span>
                </a>
                {% endif %}
                {% if request.user|has_groups:"gestor" %}
                <a class="btn btn-danger" href="{% url 'tickets:delete' ticket.id %}">
                    <span class="material-icons md-18 align-middle">delete</span>
                    <span>deletar</span>
                </a>
                {% endif %}
            </div>
        </div>
</div>
{% endblock %}

