<div class="right_area">
    <div class="user-info">
        Usuário: <span>{{ user.get_username }}</span>
    </div>
    <div class="user-info">
        Função: <span>{{ user.groups.all.0 }}</span>
    </div>
    <div class="btn-group">
        <button class="btn btn-dark btn-sm" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="material-icons">person</i>
        </button>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
            <li><a class="dropdown-item active" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'accounts:logout' %}">logout</a></li>
          </ul>
    </div>
    
</div>