<div class="logo-datails">
    <span class="material-icons" id="btn-menu">menu</span>
    <h3>TCMRJ - TICKETS</h3>
</div>
<div class="sidebar-menu">                    
    <div class="sidebar-menu">
        <div class="menu-item">
            <a href="{% url 'core:home' %}" class="menu-item-link">
                <i class="material-icons">home</i>
                <span>Home</span>
            </a>
        </div>
        <div class="menu-item">            
            <a href="#" class="menu-item-link">
                <i class="material-icons">description</i>
                <span>Ticket<i class="material-icons">chevron_right</i></span>
            </a>
            <div class="submenu-item">
                <a href="{% url 'tickets:list' %}">Consulta de Chamado</a>
                <a href="{% url 'tickets:create' %}">Abertura de Chamado</a>
                <a href="{% url 'core:gerenciamento' %}">Gerenciamento de Chamado</a>
            </div>
        </div>
        <div class="menu-item">
            <a href="#" class="menu-item-link">
                <i class="material-icons">people</i>
                <span>Usuários</span>
            </a>
        </div>
        
</div>